__pycache__/
src/__pycache__/
*.pyc
.venv/
venv/
pkg/
files/

*.stl
*.egg-info/
dist/
*.pkg.tar.zst
*.orig.tar.gz
*.deb
*.rpm
.pybuilder/
.coverage
htmlcov/
.pytest_cache/
*.egg
.installed.cfg
lib/
logs/
*.log